/* scroll styles end here*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* scroll styles end here  */

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.dark {
  background-color: #242f3e !important;
  color: #b5adad !important;
}
.hall-list-dark {
  background-color: #38414e !important;
}

.hall-list-dark .hall:hover {
  background-color: rgb(91 101 115);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

#map {
  width: 100%;
  height: 100vh;
}

.title {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 10;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

.mode {
  font-weight: bold;
  position: fixed;
  top: 0.5em;
  right: 0px;
  z-index: 10;
  background-color: white;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 8px 0 rgba(17, 22, 26, 0.16),
    0 4px 8px 0 rgba(17, 22, 26, 0.08), 0 8px 16px 0 rgba(17, 22, 26, 0.08);
}
.mode:hover {
  background-color: black;
  color: white;
  transition: all 0.4s ease-in-out;
}
.fa-adjust,
.fa-sun {
  padding-right: 0px !important;
  padding-left: 2px;
}

.fa-sun {
  color: gold;
}

.search-container {
  width: 300px;
  height: 50px;
  background-color: #4f4f56;
  position: absolute;
  z-index: 10;
  top: 200px;
  left: 150px;
  border-radius: 30px;
}

.search {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
}

.search input {
  align-items: center;
  width: 100%;
  font-size: 30px;
  background-color: transparent;
  padding-left: 20px;
  outline: none;
  border: none;
}

.hall-list-container {
  width: 300px;
  background-color: white;
  position: absolute;
  z-index: 10;
  border-radius: 20px;
  top: 270px;
  left: 150px;
  display: flex;
  height: 50%;
  bottom: 25px;
}

.hall-list {
  width: 100%;
  padding: 10px;
  overflow-y: scroll;
}

.search i {
  color: white;
}

.fas {
  font-weight: 900;
  padding-right: 20px;
  font-size: 25px;
}

.circle1 .fas {
  padding-right: 0;
}

.hall {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #979797;
  padding: 10px;
  transition: all 1s ease;
}
.hall:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.hall-info-container {
  flex-grow: 1;
  cursor: pointer;
}

.hall-address {
  font-size: 21px;
}

.hall-phone-number {
  color: #b5adad;
}

.hall-num {
  align-items: center;
  display: flex;
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #454e53;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

.info-window {
  width: 200px;
  background-color: whitesmoke;
  border-radius: 10px;
  min-width: 300px;
  font-size: 17px;
  padding: 8px;
}

.info-window span {
  display: block;
}

.info-name {
  font-size: 24px;
  font-weight: bold;
  color: #000000a3;
  border-bottom: 2px dashed;
  margin-bottom: 0.3em;
}
.info-img img {
  border-radius: 5px;
}

.info-status {
  margin-top: 10px;
  border-bottom: 1px solid #00001029;
  padding-bottom: 6px;
}

.info-address {
  margin-top: 8px;
  display: flex;
}

.info-phone {
  margin-top: 8px;
  display: flex;
}

.circle1 {
  margin-right: 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fdfeff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle .fas {
  padding-right: 0px;
  z-index: 10;
}

.futo-logo {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 100px;
  left: 10px;
  background-image: url("https://upload.wikimedia.org/wikipedia/en/1/16/FUTO_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
}

marquee {
  position: fixed;
  bottom: 10px;
  right: 0px;
  font-weight: bold;
  font-size: 0.9em;
  z-index: 10;
}
